{%- assign this_room = page -%}

{%- unless this_room.hide or site.conference.location.hide -%}
  {%- include partials/header.html -%}

  <!-- title for print: -->
  <h1 class="display-5 mb-3 d-none d-print-inline">
    {{ this_room.name }}
  </h1>

  <!-- title shown in browser: -->
  <h1 class="display-5 mb-3 d-print-none">
    {{ site.data.lang[site.conference.lang].location.rooms | default: "Rooms" }}
  </h1>

  {% include partials/navbar_rooms.html %}

  {{ content }}

  {%- include partials/footer.html -%}
{%- endunless -%}
